*{
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #495057;
  font-size: 3rem;
}